{% extends "base.html" %}
{%block title%}Custom{% endblock %}
{% block content %}
<div class="center ">
<div class="container-sm m-5 p-4 border border-dark" style="width: 50%;">
<form method="POST",action="">
    <div class="mb-3">
      <label for="url" class="form-label">Enter url of a website</label>
      <input type="url" class="form-control" id="url" aria-describedby="url">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <h3 class="text-center">Results:</h3>
  <div>
    <ol>
      {% if Results %}
      {% for x in Results %}
        <li>{{x}}</li>
      {% endfor %}
      {% endif %}
    </ol>
  </div>
</div>
</div>
{% endblock %}